.container {
  display: flex;
  flex-direction: column;
}

.body {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  background-color: red;
  color: white;
  height: 30px;
}

.menu {
  padding: 0 12px;
}
.content {
  /* flex: 1; */
  height: 300px
}

.footer {
  background-color: black;
  color: white;
  height: 60px;
  
}